<table class="table bg-white">
  <thead class="thead bg-primary text-white">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Grade</th>
      <th scope="col">Section</th>
      <th scope="col">Max Section</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="gs_tables">
    <% for (const key in data) { %>
      <% if (data.hasOwnProperty(key)) { %>
        <tr>
          <td>
            <%= key %>
          </td>
          <td><%= data[key].grade %></td>
          <td> <%= data[key].letters %></td>
          <td><%= data[key].total_lt_grade %></td>
          <td>
            <% if (data[key].letters && data[key].letters.includes("ull")) { %>
              <a href="#">
                <i class="material-icons" id="update-class-only" data-id="<%= data[key].grade %>">edit</i>
              </a>
              <% } else { %>
                <a href="#">
                  <i class="material-icons" id="update-class" data-id="<%= data[key].grade %>">info</i>
                </a>
                <% } %>
                  <a href="#">
                    <i class="material-icons" id="delete-class" data-id="<%= data[key].grade %>">delete</i>
                  </a>
          </td>
        </tr>
        <% } %>
          <% } %>
  </tbody>
</table>


<%- include('updateModal'); -%>
<%- include('infoModal'); -%>
<%- include('deleteModal'); -%>