<!doctype html>
<html lang="en">
 <%- include('../partials/header'); -%>
  <body>
<div class="wrapper">
	<div class="body-overlay"></div>
	 <!-------sidebar--design------------>
     <%- include('../partials/sidebar'); -%>
   <!-------sidebar--design- close-----------
   
      <!-------page-content start----------->
   
      <div id="content">
		  <!------top-navbar-start-----------> 
			<%- include('../partials/topnav'); -%>


<section class="content-header">
    <h5>
        <small>
            Manage School Mark
            </small>
    </h5>
  
</section>

<!-- Main content -->
<section class="content container-fluid">
    <!-- /.box-header -->

    <div class="row">

        <div class="col-sm-12 col-xs-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <!-- <li class="nav-item"><a class="active nav-link" href="#subject_home" data-toggle="tab" style="padding-right: 15px;">Add Schedule Date With Class</a></li> -->
                     <!-- <li class="nav-item"><a class="nav-link" href="#assign_teacher" data-toggle="tab">Add Schedule Time</a></li> -->
                     <!-- <li class="nav-item"><a class="nav-link" href="#assign_schedule" data-toggle="tab">Assign Schedule</a></li> -->
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="subject_home">
                        <!-- Post -->
                        <div class="row">
                            <div class="col-sm-4 mt-4">
                                <div id="add_subject_box">
                                    <%- include('addmark') -%>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="list_subject">
                                    <h4>Mark Information</h4>
                                    <table id="schedule_info_table" class="table table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Mark Name</th>
                                                <th>Out of %</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                             <% for (var i = 0; i < marks.length; i++) { %>
                                              <tr>
                                                <td><%= marks[i].id %></td>
                                                <td><%= marks[i].name %></td>
                                                <td><%= marks[i].percent %></td>
                                                <td>
                                                  <a href="#">
                                                    <i class="material-icons"> edit</i>
                                                  </a>
                                                  <a href="#">
                                                    <i class="material-icons">delete</i>
                                                  </a>
                                               
                                                </td>
                              
                                              
                                            <% } %>
                                           
                                          <tfoot>
                                              <tr>
                                                <th>#</th>
                                                <th>Total</th>
                                                <td><%= totale.totale %></td>
                                                
                                              </tr>
                                          </tfoot>
                                      </table>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- /.post -->
                    </div>


                </div>
                <!-- /.tab-content -->
            </div>
        </div>

        </div>

    </div>
    
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript">

</script>
<script type="text/javascript">


  
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
   <script src="js/jquery-3.3.1.slim.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/jquery-3.3.1.min.js"></script>
  
  
  <script type="text/javascript">
       $(document).ready(function(){
        $('#schedule_info_table').DataTable();
        // $('#teacher_subject_grade_info_table').DataTable();
	      $(".xp-menubar").on('click',function(){
		    $("#sidebar").toggleClass('active');
			$("#content").toggleClass('active');
		  });
		  
		  $('.xp-menubar,.body-overlay').on('click',function(){
		     $("#sidebar,.body-overlay").toggleClass('show-nav');
		  });
	   });
  </script>
  </body>
  
  </html>








    